<div class="grid grid-cols-2 gap-4 p-5 bg-white rounded-md text-magneticplum font-bold">
    <div class="">
      <%= image_tag "logo_type.svg", class: "mb-8", width: "251", height: "49" %>
      <h1 class="text-md uppercase pl-12">
        keep track of your
        <br>
        personal finances
      </h1>
    </div>

  <div>
    <h5 class="text-xs mb-4">
      Log in to your Money Magnet account. This account
      <br>
      can be used across the web and mobile platforms.
    </h5>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-inputs" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-inputs" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-inputs" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>