<!DOCTYPE html>
<html>
  <head>
    <title>MoneyMagnet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-magnetic-grey">
    <div class="flex">
      <% if current_user %>
        <%= render 'layouts/navbar'%>
      <% end %>
      <main class="container mt-28 flex py-10 lg:pl-72">
        <div class="px-4 sm:px-6 lg:px-8">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p> 
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
